* {
    margin: 0;
    padding: 0;
}


.main-box {
    background-color: #a2ffc1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box1 {
    background-color: #e0ffef;
    width: 605px;
    height: 423px;
    text-align: center;
    border-radius: 20px;
    color: #f53192;
    box-shadow: 0 5px 43px #0fa7db;
}

h1 {
    font-weight: 400;
    color: #333;
    margin-top: 28px;
}

.input-cat {
    width: 366px;
    padding: 9px;
    text-align: center;

    font-size: 23px;
    border-radius: 11px;
    box-shadow: 0 5px 43px #0f3bdb;
}

.box2 {
    display: inline-grid;
    margin-top: 35px;
}

.input-select {
    /* width: 366px; */
    text-align: center;
    padding: 8px;

    font-size: 20px;
    border-radius: 5px;

}

.box3 {
    display: flex;
    justify-content: space-evenly;

    padding: 38px;
    margin-top: 8px;

}

input {
    text-align: center;
    font-size: 24px;
    padding: 7px;
    width: 171px;
    border: 2px solid black;
    border-radius: 7px;
}

p {
    font-size: 73px;
    color:  #0fa7db;;
}

.box4 button {
    font-size: 36px;
    border: 2px solid black;
    border-radius: 7px;
    width: 38ox;
    font-family: auto;
    padding: 5px 28px;
    background: #cbfdff;
    box-shadow: 0 5px 43px #0f3bdb;

}
@media(max-width:600px)
{
    .box1{
      width: 381px;
    height: 542px;
    /* margin-bottom: 248px; */

    }
    .box3{
        display: block;
    }
    p{
        font-size: 40px;
    }
    .input-cat{
        width: 366px;
    }
}
@media(max-width:400px){
    .box1{
        width: 348px;

    }
    .input-cat{
        width: 304px;
    }
}